__pycache__
.idea
.vscode
.ninja_*
.mypy_cache
*.exe
!tools/dtk/dtk.exe
build
build.ninja
objdiff.json
orig/*/*
!orig/*/.gitkeep
mod/*/*
!mod/*/.gitkeep
/*.txt
ctx.c
data
ida
compile_commands.json
*.iso
