dep
config.json
.ninja_log
build.ninja
asm/
obj/
build/
rels/bin
mwcc_compiler
ldscript.lcf
config/G8ME01/main.dol
.ninja_deps
objdiff.json
orig/G8ME01/files
orig/G8ME01/sys
tools/__pycache__/project.cpython-310.pyc